S3_BUCKET=universal-lambda-config
S3_CONFIG_KEY=rss/config.json
S3_STATE_KEY=rss/state.json
SLACK_BOT_TOKEN=xoxb-your-token-here
MASTODON_SERVER=https://mastodon.example.com/
MASTODON_ACCESS_TOKEN=your-access-token-here
